VITE_SUPABASE_URL=https://sqwbfrbdvsaqupsjxeuh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxd2JmcmJkdnNhcXVwc2p4ZXVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4MDg1MTMsImV4cCI6MjA5NjM4NDUxM30._MwcArMML2KjtuDDtGHR2pwEnoIHMtoOyt_XImlUarE
VITE_API_URL=https://ydl-backend.onrender.com
